.container {
  max-width: $website_width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 1.4rem;
}

.txt-center {
  text-align: center;
}

.line {
  width: 7%;
  height: 6px;
  border-bottom: 5px $light_color dotted;
  margin: auto;
}

.section-title {
  margin: 20px auto;
}
