#timeline ul {
  padding: 50px 0;
}

/* Create line */
#timeline ul li {
  list-style: none;
  position: relative;
  width: 6px; /* Creates the line with a width of 6px */
  margin: 0 auto;
  padding-top: 50px;
  background: $bright_color;
}

/* Boxes containing h1,h3 */
#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 1rem;
  background: $light_color;
  transition: all 0.5s ease-in-out; /* add animation later */
  visibility: hidden; /* we will make then visible with JS*/
  opacity: 0;
}

/* right side */
#timeline ul li:nth-child(odd) div {
  left: 40px;
  transform: translateX(200px);
}

/* left side */
#timeline ul li:nth-child(even) div {
  left: -434px; /* also left but negative value to bring it to the other side */
  transform: translateX(-200px);
}

/* dots */
#timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: $medium-color;
  transform: translateX(
    -50%
  ); /* as much as we put it to the middle to get it in the middle of the li */

  /* dot's are white a then blue when the Js is added */
  transition: background 0.5s ease-in-out;
}

/* Arrows fundation */
#timeline div::before {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}

/* right side arrow (odd) */
#timeline ul li:nth-child(odd) div::before {
  left: -15px; /* to move it to the left side of the div */
  border-width: 8px 16px 8px 0;
  border-color: transparent $light_color transparent transparent;
}

/* left side arrow (even) */
#timeline ul li:nth-child(even) div::before {
  right: -15px; /* to move it to the left side of the div */
  border-width: 8px 0px 8px 16px;
  border-color: transparent transparent transparent var(--thrid-color);
}

/* Show Boxes */
#timeline ul li.show div {
  transform: none; /* all three values were set before to hidde the div's */
  visibility: visible; /* now we undo everything */
  opacity: 1;
}

#timeline ul li.show:after {
  background: $light_color;
}
