// Color palette
$bright_color: #9e2f46;
$light_color: #add2c9;
$medium_color: #296b75;
$dark_color: #2a6d77;
$bg_color: #fafafa;
$text_color: #545454;
//$nav_color: #b1d197 ;
$nav_color: rgba(
  $color: #b1d197,
  $alpha: 0.4
);

// Global

$website_width: 1280px;
$bg_image: url("../img/background2.jpg");
