@import "variables";
@import "reuse";

// Global style

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg_color;
  font-family: "Merriweather", serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
/* Nav section */
#main-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }
  a {
    text-decoration: none;
    color: $medium_color;
    font-weight: 800;
    font-size: 1.2rem;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $bright_color;
    }

    &.current {
      border-color: $light_color;
    }
  }
}

/* Logo section */
.logo {
  width: 70px;
  height: 70px;
}
/* Header section */
#header {
  &-home {
    background: $bg_image no-repeat center right/cover;
    height: 100vh;

    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-family: "Parisienne", cursive;
        color: $bright_color;
        font-size: 6rem;
        line-height: 1.2;
      }

      p {
        font-family: "Roboto", sans-serif;
        color: $medium_color;
      }

      .social-icon {
        display: flex;
        justify-content: space-around;

        ul {
          display: flex;
        }

        li {
          margin: 1rem 1rem 1rem 0;
        }
        a {
          padding: 0.5rem 0.8rem;
          display: inline-block;
          border: 1px solid rgba(255, 255, 255, 0.7);
          transition: all 300ms linear;
          color: #ffffff;
          background: transparent;

          &:hover {
            background: $medium_color;
          }
        }
      }
    }
  }
}

#about {
  img {
    width: 200px;
    height: 200px;
  }

  .wrapper {
    width: 50%;
    margin: 5% auto;
  }

  .what h2 {
    margin: auto;
  }
}

// Media Queries

@media only screen and (max-width: 600px) {
  #main-nav {
    padding: 0.3rem 0.6rem;

    li {
      padding: 0.2rem 0.4rem;
    }
    a {
      font-size: 0.8rem;
    }
  }

  #header-home {
    #main-nav {
      margin-top: 50px;
      margin-bottom: 100px;
    }
    .header-content {
      h1 {
        line-height: 1;
        font-size: 2.5rem;
        color: $medium_color;

        span {
          display: none;
        }
      }

      .social-icon a {
        padding: 0;
      }
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1390px) {
  #header-home {
    #main-nav {
      margin-top: 50px;
      margin-bottom: 100px;
    }
    .header-content {
      h1 {
        line-height: 2;
        font-size: 6rem;
        color: $medium_color;
      }
    }
  }
}
