@import "variables";
@import "reuse";
@import "work_grid";
@import "timeline";

// Global style

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg_color;
  font-family: "Merriweather", serif;
  line-height: 1.6;
  color: $text_color;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

h2 {
  color: $dark_color;
  font-size: 2rem;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: $bright_color;
}

/* Nav section */
#main-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }
  a {
    text-decoration: none;
    color: $text_color;
    font-weight: 800;
    font-size: 1.2rem;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $bright_color;
    }

    &.current {
      border-color: $light_color;
    }
  }
}

/* Logo section */
.logo {
  width: 70px;
  height: 70px;
}
/* Header section */
#header {
  &-home {
    background: $bg_image no-repeat center right/cover;
    border-bottom: 2px $light_color solid;
    height: 100vh;

    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-family: "Parisienne", cursive;
        color: $bright_color;
        font-size: 6rem;
        line-height: 1.2;
      }

      p {
        font-family: "Montserrat", sans-serif;
        color: $medium_color;
      }

      .social-icon {
        display: flex;
        justify-content: space-around;

        ul {
          display: flex;
        }

        li {
          margin: 1rem 1rem 1rem 0;
        }
        a {
          padding: 0.5rem 0.8rem;
          display: inline-block;
          border: 1px solid rgba(255, 255, 255, 0.7);
          transition: all 300ms linear;
          color: #ffffff;
          background: transparent;

          &:hover {
            background: $medium_color;
          }
        }
      }
    }
  }
  // nav on inner pages
  &-inner {
    background: $bg_image no-repeat center right/cover;
    height: 50vh;
    border-bottom: 2px $light_color solid;

    .section-title {
      h2 {
        font-family: "Parisienne", cursive;
        color: $bright_color;
        font-size: 6rem;
        line-height: 1.2;
        margin: auto 10px;
      }
    }
  }
}

#about {
  img {
    width: 200px;
    height: 200px;
  }

  .wrapper {
    width: 60%;
    margin: 5% auto;

    p {
      font-size: 1.5em;
      font-weight: 300;
    }
  }
  .design {
    display: grid;
    grid-template-areas: "img content content";
    grid-gap: 10px;
    text-align: left;
    img {
      grid-area: img;
    }
    .content {
      grid-area: content;
    }
  }

  .develop {
    display: grid;
    grid-template-areas: "content content img";
    grid-gap: 10px;
    text-align: left;

    img {
      grid-area: img;
    }
    .content {
      grid-area: content;
    }
  }
  img {
    padding-left: 10%;
  }
}

#contact {
  .content {
    padding: 5% 20%;
  }
  h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.6rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  p {
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .btn {
    padding: 1rem 3rem;
    background: $light_color;
  }
  i {
    color: $dark_color;
    margin-right: 10px;
  }
  a {
    color: $dark_color;
    font-size: 1.5rem;
  }
}

footer {
  background: $dark_color;
  color: $light_color;
  #footer {
    p {
      color: $light_color;
    }
    padding: 1%;
    ul {
      display: flex;
      justify-content: center;
      margin: 10px;

      li {
        padding: 1rem 1.5rem;
        margin: 0 10px;

        a {
          text-decoration: none;
          color: $light_color;
          font-size: 1.2rem;
          border-bottom: 3px transparent solid;
          transition: border-color 0.5s;

          &:hover {
            border-color: $light_color;
          }
        }
      }
    }
  }
}

// ******************** Media Queries ****************

@media only screen and (max-width: 600px) {
  // Main Nav - Media Querie
  #main-nav {
    padding: 0.3rem 0.6rem;

    li {
      padding: 0.2rem 0.4rem;
    }
    a {
      font-size: 0.8rem;
    }
  }

  // Header Media Queir

  #header-home {
    #main-nav {
      margin-top: 50px;
      margin-bottom: 100px;
    }
    .header-content {
      h1 {
        line-height: 1;
        font-size: 2.5rem;
        color: $medium_color;

        span {
          display: none;
        }
      }

      .social-icon a {
        padding: 0;
      }
    }
  }
  // About Media Querie
  #about {
    p {
      font-size: 1.2em;
      font-weight: 300;
    }

    .design {
      display: block;

      img {
        padding-right: 0;
      }
    }

    .develop {
      display: block;
    }
    img {
      padding-left: 0%;
    }
  }

  // Contact Media Queries

  #contact {
    .content {
      padding: 3% 10%;
    }
    h2 {
      font-size: 2.3rem;
    }
    h3 {
      font-size: 1.3rem;
    }
    p {
      font-weight: 100;
    }

    .btn {
      margin-bottom: 10px;
    }
    i {
      display: none;
    }
  }

  // journey media querie

  #timeline ul li {
    margin-left: 20px;
  }

  #timeline ul li div {
    width: calc(100vw - 90px);
  }

  #timeline ul li:nth-child(even) div {
    left: 40px;
  }
  #timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0px;
    border-color: transparent var(--thrid-color) transparent transparent;
  }
  #timeline div::before {
    display: none;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1150px) {
  #header-home {
    #main-nav {
      margin-top: 50px;
      margin-bottom: 100px;
    }
    .header-content {
      h1 {
        line-height: 2;
        font-size: 6rem;
        color: $medium_color;
      }
    }
  }
  // about media querie
  #about {
    .design {
      display: block;
    }

    .develop {
      display: block;
    }
  }

  // journey

  #timeline ul li div {
    width: 250px;
  }

  #timeline ul li:nth-child(even) div {
    left: -375px;
  }
}
