#gallery {
  .gallery-header {
    height: 50vh;
    .section-title {
      margin-top: 30px;
    }
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: 0.3);
}
